@charset "utf-8";

/* Mobile Navigation Styles */

#menuIcon, #menuCheck {display: none;}

/* Search Bar Styles */

#searchBar{
	margin-left: auto;
	display: flex;
	align-items: center;
	border: solid 1px #aaa;
	border-radius: 0.3em;
	overflow: hidden;
}

#searchBar:focus-within{
	border: solid 1px #333;
}
 
#searchBox {
	border: none !important;
	outline: none !important;
}
#searchButton{
	display: inline-flex;
	justify-content: center;
	align-items:center;
	background-color:#eee;
}

/* Table Styles */

table{
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

tr:nth-of-type(even){
	background-color: #eee;
}

td, th {
	padding: 0.5em;
	border: solid 1px #aaa;
	font-size: 0.9em;
}

th{
	text-align: left;
	position: relative;
	padding-right:1em;
}

th:after{
	content: url(sort.png);
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	height: 20px;
	width: 15px;
	cursor: pointer;
}

/* General Styles (up to 1024px) */
@media (max-width: 1024px) {



	/* Mobile Navigation Styles */
	#menuIcon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
	}

	#menuIcon img {
		max-height: 30px;
	}

	#menuCheck {
		height: 0;
		width: 0;
		opacity: 0;
		visibility: hidden;
	}

	#menuIcon .close-icon {
		display: none;
	}

	#menuCheck:checked ~ #menuIcon .close-icon {
		display: inline-block;
	}

	#menuCheck:checked ~ #menuIcon .menu-bars {
		display: none;
	}
}
	header > nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: start;
		overflow: hidden;
		height: 0;
		z-index: 1;
		transition: 0.4s ease-in-out;
	}

	nav > a {
		width: 100%;
		text-align: center;
		border-bottom: solid 1px white;
	}

	nav > a:last-child {
			border-bottom: none;
		}

	#menuCheck:checked ~ nav {
		height: 100vh !important;
	}

	/* Mobile Table Styles */
	
	table, thead, tbody, tr, td, th {
		display: block;
	}

	thead > tr {
		position: absolute;
		left: -9999px;
		top: -9999px;
	}

	tr {
		border: solid 1px #aaa;
	}

	td {
		padding-left: 35%;
		word-break: break-word;
		border: none;
		border-bottom: solid 1px #ccc;
		position: relative;
	}

	td:before {
			position: absolute;
			left: 5px;
			top: 50%;
			transform: translateY(-50%);
			font-weight: bold;
	}

		td:nth-of-type(1):before {
			content: 'First Name';
		}

		td:nth-of-type(2):before {
			content: 'Last Name';
		}

		td:nth-of-type(3):before {
			content: 'Grad Year';
		}

		td:nth-of-type(4):before {
			content: 'Email';
		}

		td:nth-of-type(5):before {
			content: 'Location';
		}

